<?xml version="1.0"?>
<!--
/**
 * Localized Magento Editions
 *
 * @category   IntegerNet
 * @package    IntegerNet_MagentoLocalized
 * @copyright  Copyright (c) 2013 integer_net GmbH (http://www.integer-net.de/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Andreas von Studnitz <avs@integer-net.de>
 */
 -->
<config>
    <modules>
        <IntegerNet_MagentoLocalized>
            <version>2.0.0</version>
        </IntegerNet_MagentoLocalized>
    </modules>

    <global>
        <models>
            <magento_localized>
                <class>IntegerNet_MagentoLocalized_Model</class>
            </magento_localized>
        </models>

        <blocks>
            <magento_localized>
                <class>IntegerNet_MagentoLocalized_Block</class>
            </magento_localized>
        </blocks>

        <helpers>
            <magento_localized>
                <class>IntegerNet_MagentoLocalized_Helper</class>
            </magento_localized>
        </helpers>

        <resources>
            <magento_localized_setup>
                <setup>
                    <module>IntegerNet_MagentoLocalized</module>
                </setup>
            </magento_localized_setup>
        </resources>

        <events>
            <controller_action_predispatch_install_wizard_index>
                <observers>
                    <magento_localized>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallStart</method>
                    </magento_localized>
                </observers>
            </controller_action_predispatch_install_wizard_index>
            <controller_action_predispatch_install_index_index>
                <observers>
                    <magento_localized>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallStart</method>
                    </magento_localized>
                </observers>
            </controller_action_predispatch_install_index_index>
            <controller_action_predispatch_install_wizard_begin>
                <observers>
                    <magento_localized_theme>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallWizard</method>
                    </magento_localized_theme>
                </observers>
            </controller_action_predispatch_install_wizard_begin>
            <controller_action_predispatch_install_wizard_locale>
                <observers>
                    <magento_localized_theme>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallWizard</method>
                    </magento_localized_theme>
                </observers>
            </controller_action_predispatch_install_wizard_locale>
            <controller_action_predispatch_install_wizard_config>
                <observers>
                    <magento_localized_theme>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallWizard</method>
                    </magento_localized_theme>
                </observers>
            </controller_action_predispatch_install_wizard_config>
            <controller_action_predispatch_install_wizard_administrator>
                <observers>
                    <magento_localized_theme>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallWizard</method>
                    </magento_localized_theme>
                </observers>
            </controller_action_predispatch_install_wizard_administrator>
            <controller_action_predispatch_install_wizard_end>
                <observers>
                    <magento_localized_theme>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>predispatchInstallWizard</method>
                    </magento_localized_theme>
                </observers>
            </controller_action_predispatch_install_wizard_end>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <magento_localized>
                    <file>magento_localized.xml</file>
                </magento_localized>
            </updates>
        </layout>

        <translate>
            <modules>
                <IntegerNet_MagentoLocalized>
                    <files>
                        <default>IntegerNet_MagentoLocalized.csv</default>
                    </files>
                </IntegerNet_MagentoLocalized>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_MagentoLocalized after="Mage_Adminhtml">IntegerNet_MagentoLocalized_Adminhtml</IntegerNet_MagentoLocalized>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <magento_localized>
                    <file>magento_localized.xml</file>
                </magento_localized>
            </updates>
        </layout>

        <translate>
            <modules>
                <IntegerNet_MagentoLocalized>
                    <files>
                        <default>IntegerNet_MagentoLocalized.csv</default>
                    </files>
                </IntegerNet_MagentoLocalized>
            </modules>
        </translate>

        <events>
            <cms_page_load_after>
                <observers>
                    <integernet_magento_localized>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>afterLoadCmsPage</method>
                    </integernet_magento_localized>
                </observers>
            </cms_page_load_after>

            <checkout_additional_information>
                <observers>
                    <integernet_magento_localized>
                        <type>singleton</type>
                        <class>magento_localized/observer</class>
                        <method>addCheckoutAdditionalInformation</method>
                    </integernet_magento_localized>
                </observers>
            </checkout_additional_information>
        </events>

        <routers>
            <install>
                <args>
                    <modules>
                        <IntegerNet_MagentoLocalized before="Mage_Install">IntegerNet_MagentoLocalized_Install</IntegerNet_MagentoLocalized>
                    </modules>
                </args>
            </install>
        </routers>
    </frontend>

    <install>
        <translate>
            <modules>
                <IntegerNet_MagentoLocalized>
                    <files>
                        <default>IntegerNet_MagentoLocalized.csv</default>
                    </files>
                </IntegerNet_MagentoLocalized>
            </modules>
        </translate>
    </install>

    <default>
        <removecustomeraccountlinks>
            <settings>
                <remove>recurring_profiles,billing_agreements,tags,OAuth Customer Tokens</remove>
            </settings>
        </removecustomeraccountlinks>
        <persistent>
            <options>
                <enabled>1</enabled>
            </options>
        </persistent>
        <sales_pdf>
            <firegento_pdf>
                <show_footer>1</show_footer>
                <engine>firegento_pdf/engine_invoice_default</engine>
            </firegento_pdf>
        </sales_pdf>
        <shipping>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <admin>
            <security>
                <session_cookie_lifetime>36000</session_cookie_lifetime>
            </security>
            <startup>
                <page>system/magento_localized/configuration</page>
            </startup>
            <magento_localized>
                <display_logo>1</display_logo>
                <display_menu>1</display_menu>
                <display_dashboard_block>1</display_dashboard_block>
                <datatransfer>0</datatransfer>
            </magento_localized>
        </admin>
        <dev>
            <log>
                <active>1</active>
            </log>
            <js>
                <merge_files>0</merge_files>
            </js>
            <css>
                <merge_css_files>0</merge_css_files>
            </css>
        </dev>
        <magento_localized>
            <form_fields>
                <general__imprint__shop_name translate="label">
                    <type>text</type>
                    <label>Shop Name</label>
                    <sorting>10</sorting>
                    <optional>0</optional>
                </general__imprint__shop_name>
                <general__imprint__company_first translate="label">
                    <type>text</type>
                    <label>Company 1</label>
                    <sorting>20</sorting>
                    <optional>0</optional>
                </general__imprint__company_first>
                <general__imprint__company_second translate="label">
                    <type>text</type>
                    <label>Company 2</label>
                    <sorting>25</sorting>
                    <optional>1</optional>
                </general__imprint__company_second>
                <general__imprint__street translate="label">
                    <type>text</type>
                    <label>Street</label>
                    <sorting>30</sorting>
                    <optional>0</optional>
                </general__imprint__street>
                <general__imprint__zip translate="label">
                    <type>text</type>
                    <label>Zip</label>
                    <sorting>40</sorting>
                    <optional>0</optional>
                </general__imprint__zip>
                <general__imprint__city translate="label">
                    <type>text</type>
                    <label>City</label>
                    <sorting>50</sorting>
                    <optional>0</optional>
                </general__imprint__city>
                <general__imprint__country translate="label">
                    <type>select</type>
                    <source_model>adminhtml/system_config_source_country</source_model>
                    <label>Country</label>
                    <sorting>60</sorting>
                    <optional>0</optional>
                </general__imprint__country>
                <general__imprint__telephone translate="label">
                    <type>text</type>
                    <label>Telephone</label>
                    <sorting>70</sorting>
                    <optional>0</optional>
                </general__imprint__telephone>
                <general__imprint__fax translate="label">
                    <type>text</type>
                    <label>Fax</label>
                    <sorting>80</sorting>
                    <optional>1</optional>
                </general__imprint__fax>
                <general__imprint__email translate="label">
                    <type>text</type>
                    <label>E-Mail</label>
                    <sorting>90</sorting>
                    <optional>0</optional>
                </general__imprint__email>
                <general__imprint__web translate="label">
                    <type>text</type>
                    <label>Website</label>
                    <sorting>100</sorting>
                    <optional>0</optional>
                </general__imprint__web>
            </form_fields>
        </magento_localized>
    </default>
</config>